@import './colors.scss';

@mixin a-links {
  background-color: $main-color;
  padding: 0.5rem 1rem;
  display: block;
  color: lighten($main-color, 70%);
  box-shadow: 0.1rem 0.1rem 0.8rem black;
  border-radius: 0.3rem;
  margin-top: 0.5rem;

  &:hover {
    color: white;
    background-color: lighten($main-color, 20%);
  }

  &.active {
    color: darken($main-color, 20%);
    background-color: lighten($main-color, 50%);
  }

  &.animated:hover {
    animation: pop 0.5s;
  }
  
  @keyframes pop {
    0% {
      transform: scale(1);
    } 
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
}

@mixin button {
  background-color: lighten($main-color, 50%);
  margin: 1rem;
  padding: 0 2rem;

  &:hover {
    background: lighten($main-color, 20%);
  }
  
  &.active {
    color: lighten($main-color, 80%);
  }
}

@mixin section-content {
  color: $main-color;
  background: lighten($main-color, 60%);
  padding: 2rem 5rem 5rem 5rem;
  box-shadow: 0.1rem 0.1rem 0.8rem black;
  margin: 4rem auto;

  width: 95%;
  height: 80vh;
  overflow-y: auto;

  .content-header {
    color: $main-color;
    font-size: 2.5rem;
  }
  .topic-label {
    color: $main-color;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5rem 0;
  }

  .subtopic-label {
    color: $main-color;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 1.2rem 0;
  }
}
