@import './colors.scss';

@mixin a-links {
  background-color: $main-color;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: lighten($main-color, 70%);
  box-shadow: 0.1rem 0.1rem 0.8rem black;
  border-radius: 0.3rem;
  margin-top: 0.5rem;

  &:hover,
  &:active {
    color: white;
    background-color: lighten($main-color, 20%);
  }

  &:focus {
    color: darken($main-color, 20%);
    background-color: lighten($main-color, 50%);
  }

}

@mixin button {
  background-color: lighten($main-color, 50%);
  margin: 1rem;
  padding: 0 2rem;

  &:hover {
    background: lighten($main-color, 20%);
  }
  
  &:active {
    color: lighten($main-color, 80%);
  }
}

@mixin section-content {
  background: lighten($main-color, 60%);
  padding: 2rem 5rem 5rem 5rem;
  box-shadow: 0.1rem 0.1rem 0.8rem black;

  width: 75%;
  height: 85%;
  overflow-y: auto;
  position: absolute;
  left: 23%;
  top: 12%;

  .content-header {
    font-size: 2.5rem;
  }
  .topic-label {
    font-size: 1.5rem;
    padding: 1.5rem 0;
  }

  .subtopic-label {
    font-size: 1.1rem;
    padding: 1.2rem 0;
  }
}
