@import "../../styles/colors.scss";

#sidebar-container {
  .sidebar-ul {
    list-style: none;
    margin: 0;

    li {
      margin-top: 4rem;
      width: 50%;

      .section-header {
        color: white;
        background-color: lighten($main-color, 20%);
      }
    }
  }
}

