@import "../../styles/colors.scss";

#sidebar-container {
  .sidebar-ul {
    list-style: none;
    padding-left: 2.5rem;

    li {
      margin-top: 4rem;
      margin-left: 2.5rem;
      width: 15rem;

      .section-header {
        color: white;
        background-color: lighten($main-color, 20%);
      }

      .animated:hover {
        animation: pop 0.5s;
      }
    }
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  } 
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
