@import "../../styles/colors.scss";

#sidebar-container {
  .sidebar-ul {
    list-style: none;
    margin: 0;

    li {
      margin-top: 4rem;
      width: 50%;

      .section-header {
        cursor: default;
        background-color: $main-color;
        padding: 0.5rem 1rem;
        display: block;
        color: lighten($main-color, 70%);
        box-shadow: 0.1rem 0.1rem 0.8rem black;
        border-radius: 0.3rem;
        margin-top: 0.5rem;
      }
    }
  }
}
