<div class="section-content flex-container align-justify">
  <div class="grid-x">
    <div class="cell small-12">
      <div class="text-center content-header">PostgreSQL installation</div>
      <div class="flex-container align-justify align-middle">
        <div class="topic-label">Windows</div>
        <a mat-raised-button class="a-links" target="_blank"
          href="http://www.postgresqltutorial.com/install-postgresql/">Windows</a>
      </div>

      <div>Download the installer and follow the prompts. Check that PostgreSQL was installed correctly.</div>
      <br>
      <div>Run the SQL shell and accept all the defaults in the prompts. Enter the password you have entered during
        installing the PostgreSQL.</div>
      <div class="flex-container align-justify align-middle">
        <div class="topic-label">Linux</div>
      </div>
      <div class="topic-label">Managing Databases</div>
    </div>
  </div>
</div>
