<div class="section-content flex-container align-justify">
  <div class="grid-x">
    <div class="cell small-12">
      <div class="text-center content-header">Inheritance and Polymorphism</div>
      <div>Virtual methods have an implementation and provide the derived classes with the option of overriding it
        Abstract methods do not provide an implementation and force the derived classes to override the method.</div>

        <div>So, abstract methods have no actual code in them, and subclasses HAVE TO override the method. Virtual methods
        can have code, which is usually a default implementation of something, and any subclasses CAN override the
        method using the override modifier and provide a custom implementation.</div>
        <br/>
        <div>To call the parent virtual method and then override it add your own implementation use the base call <code>base.virtualMethod();</code></div>
    </div>
  </div>
</div>
