<div class="container-fluid content">
  <div class="grid-x">
    <div class="cell small-12">
      <div class="text-center content-header">Asynchronous Programming</div>
      <div class="topic-label">map()</div>
      <p>
        Applying a function to a value and creating a new value is called a
        projection. To project one array into another, we apply a projection
        function to each item in the array and collect the results in a new
        array.
      </p>
      <div class="grid-x">
        <div class="cell small-6">
            <pre>
                <div class="code">{{
                  "function() { var newReleases = [
    { 'id': 70111470,
      'title': 'Die Hard',
      'boxart': 'http://cdn-0.nflximg.com/images/2891/DieHard.jpg',
      'uri': 'http://api.netflix.com/catalog/titles/movies/70111470',
      'rating': [4.0],
      'bookmark': []
    },
    {
      'id': 654356453,
      'title': 'Bad Boys',
      'boxart': 'http://cdn-0.nflximg.com/images/2891/BadBoys.jpg',
      'uri': 'http://api.netflix.com/catalog/titles/movies/70111470',
      'rating': [5.0],
      'bookmark': []
    },
    {
      'id': 65432445,
      'title': 'The Chamber',
      'boxart': 'http://cdn-0.nflximg.com/images/2891/TheChamber.jpg',
      'uri': 'http://api.netflix.com/catalog/titles/movies/70111470',
      'rating': [4.0],
      'bookmark': []
    },
    {
      'id': 675465,
      'title': 'Fracture',
      'boxart': 'http://cdn-0.nflximg.com/images/2891/Fracture.jpg',
      'uri': 'http://api.netflix.com/catalog/titles/movies/70111470',
      'rating': [5.0],
      'bookmark': []
    },
                  ] }"}}</div>
              </pre>
        </div>
        <div class="cell small-6">
          bla bla
        </div>
      </div>
      
    </div>
  </div>
</div>
