<div class="section-content">
    <div class="grid-x">
      <div class="cell small-12">
        <div class="text-center content-header">dotnet CLI</div>
        <div class="topic-label">dotnet new webapi</div>
        <div class="flex-container align-left">
          <button
          mat-raised-button
          class="a-links submit-button"
          [ngClass]="{'loading-btn':displaySpinner}"
          target="_blank"
          (click)="getEmployees()"
          >
          <mat-spinner
          mode="indeterminate"
           *ngIf="displaySpinner" 
           class="loading-spinner" 
           diameter="25">
          </mat-spinner>
          Get Employees</button>
        </div>
        

        <div *ngFor="let employee of employees">
          <div class="topic-label">{{employee.firstName}} {{employee.lastName}}</div>
        </div>
        <div *ngIf="employeesError">
          <div class="error-message">Failed to retrieve employees.</div>
        </div>
      </div>
    </div>
  </div>
  