<div class="section-content">
  <div class="grid-x">
    <div class="cell small-12">
      <div class="text-center content-header">Observables</div>
      <div class="flex-container align-justify align-middle">
        <div class="topic-label">Concepts</div>
        <a mat-raised-button class="a-links" target="_blank"
          href="http://reactivex.io/rxjs/manual/overview.html">Docs</a>
      </div>
      <div class="subtopic-label">Stream</div>
      <div>A flow of values or events that are emitted over time.</div>
      <div class="subtopic-label">Observable</div>
      <div>Observable is what facilitates the generation of the stream. Represents the idea of an invokable collection
        of future values or events.</div>
      <div class="subtopic-label">Observer</div>
      <div>Collection of callbacks that knows how to listen to values that are being delivered by the Observable.</div>

    </div>
  </div>
</div>
