<div class="grid-x align-middle sticky" id="top-menu-bar">
  <div class="cell small-3 areas-header text-center">Areas</div>
  <div class="flex-container clearfix">
    <div class="cell small-9">
      <button routerLink="" *ngFor="let area of areas" (click)="getSectionsForArea(area.id)" class="btn"
        mat-raised-button>
        {{ area.title }}
      </button>
    </div>
    <div class="cell small-3 float-right">
      <button class="btn" mat-raised-button>Logout</button>
    </div>
  </div>
</div>
