@import '../../styles/colors.scss';

#top-menu-bar {
  background-color: $main-color;
  box-shadow: 0.1rem 0.3rem 1rem black;

  .areas-header {
    background-color: $main-color;
    color: lighten($main-color, 40%);
  }
}

