<div class="grid-x align-middle sticky" id="top-menu-bar">
  <div class="cell small-3 areas-header text-center">Areas</div>
  <div class="cell small-9">
    <div class="grid-x flex-container clearfix">
        <div class="cell small-10 float-center">
            <button  *ngFor="let area of areas" (click)="getSectionsForArea(area.id)" class="btn"
              mat-raised-button>
              {{ area.title }}
            </button>
          </div>
          <div class="cell small-1 float-right">
            <button routerLink="" class="btn logout-btn" mat-raised-button>Logout</button>
          </div>
    </div>
  </div>
</div>
