<div class="container-fluid section-content">
  <div class="grid-x">
    <div class="cell small-12">
        <div class="text-center content-header">Operators</div>
        <div class="topic-label">The five essential operators</div>
        <div class="subtopic-label">Map</div>
        <div class="subtopic-label">Filter</div>
        <div class="subtopic-label">Concat</div>
        <div class="subtopic-label">Zip</div>
        <div class="subtopic-label">M???ap</div>

    </div>
  </div>
</div>

