<div class="container-fluid section-content">
  <div class="grid-x">
    <div class="cell small-12">
        <div class="text-center content-header">Operators</div>
        <div class="subtopic-label"><code>map()</code></div>
        <div>
          Apply projection with each value from source.
        </div>
        <div class="subtopic-label"><code>filter()</code></div>
        <div class="subtopic-label"><code>concat</code></div>
        <div class="subtopic-label"><code>zip()</code></div>
        <div class="subtopic-label"><code>reduce()</code></div>
        <div class="subtopic-label"><code>tap</code></div>
        <div class="subtopic-label"><code>debounce</code></div>
        <div>
          Discard emitted values that take less than the specified time, based on selector function, between output.
        </div>
        <div class="subtopic-label"><code>takeUntil</code></div>
        <div class="subtopic-label"><code>distinctUntilChanged</code></div>
        <div class="subtopic-label"><code>repeat</code></div>
        <div class="subtopic-label"><code>switchMap</code></div>

    </div>
  </div>
</div>

