<div class="section-content">
  <div class="grid-x">
    <div class="cell small-12">
      <div class="text-center content-header">Arrays</div>
      <div class="flex-container align-justify align-middle">
        <div class="topic-label">
          Review of basic operations on javascript arrays
        </div>
        <a
          mat-raised-button
          class="a-links"
          target="_blank"
          href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array"
          >Docs</a
        >
      </div>
      <div class="subtopic-label"><code>filter()</code></div>
      <div>
        The filter() method creates a new array with all elements that pass the
        test implemented by the provided function.
      </div>
      <div class="subtopic-label"><code>map()</code></div>
      <div>
        <div>
          Projection: apply a function to a value and create a new value.
        </div>
        The map() method creates a new array with the results of calling a
        provided function on every element in the calling array.
      </div>
      <div class="subtopic-label"><code>slice()</code></div>
      <div class="subtopic-label"><code>find()</code></div>
      <div class="subtopic-label"><code>splice()</code></div>
      <div>
        The splice() method changes the contents of an array by removing or
        replacing existing elements and/or adding new elements in place.
      </div>

      <div class="subtopic-label"><code>indexOf()</code></div>
      <div class="subtopic-label"><code>includes()</code></div>
      <div class="subtopic-label"><code>push()</code></div>
      <div class="subtopic-label"><code>pop()</code></div>
      <div class="subtopic-label"><code>shift()</code></div>
      <div class="subtopic-label"><code>unshift()</code></div>
      <div class="subtopic-label"><code>concat()</code></div>
      <div class="subtopic-label"><code>join()</code></div>
      <div class="subtopic-label"><code>reverse()</code></div>
      <div class="subtopic-label"><code>sort()</code></div>
      <div class="subtopic-label"><code>reduce()</code></div>
      <div class="subtopic-label"><code>replace()</code></div>
    </div>
  </div>
</div>
