.app {
    height: 100vh;
    background-color: darkslategrey;
}
.router {
    height: 80vh;
    width: 80%;
    background: lighten(rgba(47, 79, 79, 0.363), 65%);
    box-shadow: 0.5rem 0.5rem  40rem rgba(0, 0, 0, 0.541);
    margin-top: 3rem; /* Same top margin as sidebar */
}