@import './styles/colors.scss';

.app {
    height: 100vh;
    .side-bar {
        background-color: $main-color;
        position: fixed;
    }
    .router-container {
        width: 80%;
        position: absolute;
        left: 22rem;
        top: 4rem;
        background: lighten($main-color, 70%);

        margin-top: 3rem; 
        box-shadow: 0.1rem 0.1rem 0.8rem black;
    }
}

