.app {
    height: 100vh;
    background-color: darkslategrey;
}
.router {
    height: 80vh;
    width: 80%;
    background: lighten(darkslategrey, 20%);
    box-shadow: 0.5rem 0.5rem  40rem black;
    margin-top: 3rem;
}