#sidebar {
  width: 15rem;
  height: 100%;
  margin-top: 3rem;
  margin-left: 1rem;

  ul.sidebar-nav {
    list-style: none;
    margin-left: 1.5rem;

    li {
        .section-header,
        :hover, :active {
            color: darkslategray;
            background-color: lighten(darkslategrey, 20%);
        }
        a {
            padding: 0.5rem 1rem;
            display: flex;
            align-items: center;
            text-align: center;
            color: lighten(darkslategrey, 50%);
            box-shadow: 0.1rem 0.1rem 0.8rem black;

            &:hover, &.active {
                color: white;
                background-color: lighten(darkslategrey, 20%);
            }
        }
    }
}
}