@import "../styles/mixins.scss";
@import "../styles/colors.scss";

#sidebar-container {
  .sidebar-ul {
    list-style: none;
    padding-left: 2.5rem;

    li {
      margin-top: 4rem;
      margin-left: 2.5rem;
      width: 15rem;

      .section-header,
      :hover,
      :active {
        color: white;
        background-color: lighten($main-color, 20%);
      }
    }
  }
}
