#sidebar {
  width: 13rem;
  height: 100%;
  padding-top: 1rem;
  margin-top: 4rem;
  transition: all 0.2s ease-out;

  ul.sidebar-nav {
    list-style: none;
    margin-left: 1rem;

    li {
        a {
            padding: 0.5rem 1rem;
            display: flex;
            align-items: center;
            text-align: center;
            color: black;

            &:hover, &.active {
                color: white;
                background-color: red;
            }
        }
    }
}
}