<div class="section-content flex-container align-justify">
  <div class="grid-x">
    <div class="cell small-12">
        <div class="text-center content-header">Setting up Routing</div>
        <div class="topic-label">Router State</div>
        <div>After the end of each successful navigation lifecycle, the router builds a tree of <em>ActivatedRoute</em> objects that make up the current state of the router. You can access the current <em>RouterState</em> from anywhere in the application using the Router service and the <em>routerState</em> property</div>
        <div>Each <em>ActivatedRoute</em> in the <em>RouterState</em> provides methods to traverse up and down the route tree to get information from parent, child and sibling routes.</div>
    </div>
  </div>
</div>
