<div class="section-content">
  <div class="grid-x">
    <div class="cell small-12">
      <div class="text-center content-header">Binding</div>
      <div class="topic-label">Listing rows with delete button</div>
      <div class="grid-x">
        <div class="cell small-12 flex-container align-justify align-middle" *ngFor="let task of todoList; let i = index">
          <div id={{i}} class="float-left">{{task}}</div>
          <button (click)=deleteTask(i) class="btn float-right" mat-raised-button>Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
