
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$expert-primary: mat-palette($mat-indigo);
$expert-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$expert-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$expert-theme: mat-light-theme($expert-primary, $expert-accent, $expert-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($expert-theme);

@import '../node_modules/foundation-sites/scss/foundation.scss';
@include foundation-everything(true);

// Angular theme
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Custom global stylings 
@import './app/styles/mixins';
.content {
    padding: 2rem 5rem 5rem 5rem;
    .content-header {
        font-size: 3rem;
    }
    .topic-label {
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
    }
}
.a-links {
    @include a-links;
}
